:root {
  --cyan: #439bf6;
  --fuksia: #fc45e0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-image: linear-gradient(10deg, var(--fuksia), var(--cyan));
  background-size: cover cover;
}

.panel {
  position: absolute;
  display: flex;
  gap: 0.7rem;
  top: 3.4%;
  left: 3.4%;
  gap: 1rem;
  padding: 1rem;
  z-index: 10;
}

.panel > * {
  cursor: pointer;
  font-size: 2rem;
  color: aliceblue;
  transition: all 500ms ease;
  opacity: 0.7;
}

.panel > *:hover {
  opacity: 1;
  transform: scale(1.1);
}

img {
  max-width: 40%;
  filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.5));
  animation: animation-rotate 1250ms ease 1, opacity 1000ms ease 1,
    infinite-motion 7s ease infinite;
}

.particle-container {
  position: absolute;
  width: 50%;
  height: 70%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--cyan);
  transition: all 1s ease;
}

@keyframes animation-rotate {
  0% {
    transform: rotate(0deg);
    scale: 0.7;
  }
  100% {
    transform: rotate(360deg);
    scale: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes infinite-motion {
  0%,
  100% {
    transform: translateY(14px);
  }
  50% {
    transform: translateY(14px);
  }
}

@media (max-width: 1068px) {
  img {
    max-width: 70%;
  }
}
